
$default-bg: $light-gray;
$default-font-color: $black;
$default-font: $lato;
$default-weight: $font-regular;


*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
html{
    font-size: 10px;
}
.container{
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
}
body{
    font-size: 1.6rem;
    background-color: $default-bg;
    color: $default-font-color;
    font-weight: $default-weight;
    font-family: $default-font;
}