
/*$btn-default-color: $white;
$btn-yellow: $yellow;
$btn-purple: $purple;
$btn-blue: $blue;
$btn-green: $green;
$btn-orange: $orange;
$btn-light-gray: $dark-gray;*/

$learning: (

'yellow'    : $yellow,
'purple'    : $purple,
'blue'       : $blue,
'green'    : $green,
'orange'  : $orange,
'light'       : $light-gray,
'dark-gray'  : $dark-gray
);




%btn{
    display: inline-block;
    padding: 15px 25px;
/*    border-radius: 5px;*/
@include radius(15px);
@include sectionRadius(25px, 5px, 25px, 5px);
    border: none;
}

@each $key, $value in $learning{
    .btn-#{$key}{
        @extend %btn;
        background-color: $value;
        color: acommadation($value);
        &:hover{
            background-color: darken($value, 10%);
        }
    }
}


/*.btn-yellow{
    @extend %btn;
    background-color: $btn-yellow;
    color: acommadation($btn-yellow);
}
.btn-purple{
    @extend %btn;
    background-color: $btn-purple;
    color: acommadation($btn-purple);
}
.btn-blue{
    @extend %btn;
    background-color: $btn-blue;
    color: acommadation($btn-blue);
}
.btn-green{
    @extend %btn;
    background-color: $btn-green;
    color: acommadation($btn-green);
}
.btn-orange{
    @extend %btn;
    background-color: $btn-orange;
    color: acommadation($btn-orange);
}
.btn-light{
    @extend %btn;
    background-color: $btn-light-gray;
    color: acommadation($btn-light-gray);
}*/