

$thead-bg: $purple;
$table-border: 1px solid $black;
$thead-color: $white;
$thead-border: 1px solid $white;
$tbody-even-bg: $dark-gray;
$tbody-hover-bg: $cyan;


.coursesSection{
    padding: 50px 0;
    
    table{
        border: $table-border;
        border-collapse: collapse;
        width: 100%;
        
        caption{
            text-align: left;
            font-style: italic;
            margin-bottom: 10px;
        }
    
    th, td{
        padding: 10px 20px;
        border: $table-border;
    }
    
    thead{
        background-color: $thead-bg;
        th{
            color: $thead-color;
            border: $thead-border;
        }
    }
    }
    
    tbody{
        tr{
            &:nth-of-type(even){
                background-color: $tbody-even-bg;
            }
            &:hover{
                background-color: $tbody-hover-bg;
            }
        }
    }
}