
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* FONTS */

//    font-family: "Lato", serif;

//    font-family: "Rubik", serif;

//    font-family: "Josefin Sans", serif;

$lato: "Lato", serif;
$rubic: "Rubik", serif;
$josefin: "Josefin Sans", serif;

$font-regular: 400;
$font-bold: 700;