

$purple: #d61ad9;
$white: #ffffff;
$black: #000000;
$green: #15ed39;
$blue: #1a1ad9;
$yellow: #f0e80e;
$orange: #fac507;
$cyan: #fac507;

$light-gray: #eeeeee;
$dark-gray: #444444;

$enable-radius: true;